:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #E9F4F0;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.gno-flex {
  display: flex;
}

.gno-flex-column {
  display: flex;
  flex-direction: column;
}

.gno-flex-row {
  display: flex;
  flex-direction: row;
}

.gno-justify-center {
  justify-content: center;
}

.gno-space-between {
  justify-content: space-between;
}

.gno-align-center {
  align-items: center;
}

.gno-gap-8 { gap: 8px; }
.gno-gap-16 { gap: 16px; }
.gno-gap-32 { gap: 32px; }